<div class="container">
  <!-- Intro institucional -->
  <div class="chatbot-banner">
  <img src="assets/img/gobierno-jujuy.png" alt="Gobierno de Jujuy" class="logo" />
  <div class="chatbot-banner-texto">
    <p>
      Impulsamos tu crecimiento profesional a través de 
      <span class="resaltado">capacitaciones gratuitas</span> y de calidad, orientadas a oficios con alta demanda en Jujuy.
    </p>
    <p>
      Sumate a esta iniciativa del Gobierno Provincial para 
      <span class="resaltado">fortalecer tu empleabilidad</span> y construir un 
      <span class="resaltado">futuro laboral sólido</span>.
    </p>
  </div>
</div>

  <hr class="separador" />

  <div class="chatbot-banner">
  <div class="chatbot-banner-texto">
    <h3>¿Tenés dudas sobre los cursos?</h3>
    <p class="subtitulo">
      Usá nuestro <span class="resaltado">asistente virtual</span> haciendo clic en el gorrito flotante disponible  las 24 horas. 
    </p>
    <p>
      Te responde <span class="resaltado">todo</span> lo que necesitás saber sobre los cursos: <span class="resaltado">fechas de inicio</span>, <span class="resaltado">modalidad</span> (presencial o virtual), <span class="resaltado">cómo inscribirte</span>, <span class="resaltado">dónde se dicta</span>, <span class="resaltado">requisitos</span> y más.
    </p>
    <p>
      Además, si no sabés qué curso hacer, podés contarle tu situación personal y el chat te va a recomendar <span class="resaltado">el curso más adecuado</span> para vos.
    </p>
  </div>
  <div class="chatbot-banner-img">
    <img src="assets/img/avatar-chatbot.png" alt="Avatar Chatbot Gorrito" />
  </div>
</div>


  <!-- Título y filtro -->
  <div class="header-cursos">
    <h2 class="titulo-cursos">Nuestros Cursos</h2>

    <div class="filtro-con-mensaje">
      <label class="label-localidad" for="filtro-localidad">
        Seleccioná tu localidad
      </label>
      <select id="filtro-localidad" [(ngModel)]="localidadSeleccionada" class="filtro-select">
        <option value="">Todas las localidades</option>
        <option *ngFor="let loc of localidadesUnicas" [value]="loc">
          {{ loc }}
        </option>
      </select>
    </div>
  </div>

  <!-- Listado de cursos -->
  <div class="cursos">
    <div class="curso-card" *ngFor="let curso of cursosFiltrados()">
      <h3>{{ curso.titulo }}</h3>

      <p>{{ curso.descripcion }}</p>

      <p>
        <strong>Inicio:</strong>
        {{ curso.fecha_inicio | date: 'dd/MM/yyyy' }}
      </p>

      <button (click)="openForm(curso.formulario)">
        Inscribirme
      </button>

      <a [routerLink]="['/curso', curso.id]" class="link-detalle">
        🔎 Ver más
      </a>
    </div>
  </div>
</div>
