<footer class="footer">
  <div class="footer-montanas">
    <img src="assets/img/footer-montanas.png" alt="Decoración montañas" />
  </div>

  <div class="footer-content">
    <div class="footer-col">
      <p>Palacio de Gobierno</p>
      <p>San Martín Nº450</p>
      <p>San Salvador de Jujuy (4600)</p>
      <p>+54 0388-4239400</p>
    </div>

    <div class="footer-col">
      <p>Secretaría de Trabajo y Empleo</p>
      <img src="assets/img/gobierno-jujuy.png" alt="Gobierno de Jujuy" class="logo-gobierno" />
    </div>

    <div class="footer-col">
  <p>Redes Sociales</p>
  <div class="social-icons">
    <a href="https://www.facebook.com/GobiernoDeJujuy" target="_blank" rel="noopener">
      <img src="assets/img/icon-fb.png" alt="Facebook" title="Ir al Facebook oficial" />
    </a>
    <a href="https://x.com/GobiernoJujuy" target="_blank" rel="noopener">
      <img src="assets/img/icon-twitter.png" alt="Twitter" title="Ir al Twitter oficial" />
    </a>
    <a href="https://www.youtube.com/@GobiernodeJujuyOK" target="_blank" rel="noopener">
      <img src="assets/img/icon-yt.png" alt="YouTube" title="Ir al canal de YouTube oficial" />
    </a>
    <a href="https://www.instagram.com/gobiernodejujuy/" target="_blank" rel="noopener">
      <img src="assets/img/icon-ig.png" alt="Instagram" title="Ir al Instagram oficial" />
    </a>
  </div>
</div>
  </div>

  <div class="footer-bottom">
    <p>Gobierno de Jujuy 2025 ©</p>
  </div>
</footer>
